$page-color: #f04124;

@mixin font-stack() {
	font-family: "larabiefont", monospace;
}
html, body { 
	color: white;
	margin: 0;
}
canvas {
	display:block;
	vertical-align:bottom;
	height: 100%;
	width: 100%;
}
h1, h3 {
	color: white;
	@include font-stack;
	text-transform: uppercase;
}
button {
	@include font-stack;
	font-size: 1.4rem;
}
input[type="email"] {
	background-color: $page-color;
	border-color: #cf2a0e;
	color: white;
	height: 3rem;
	font-size: 1rem;
	&:focus {
		background-color: $page-color;
		border-color: #cf2a0e;
		@include font-stack;
	}
}
#email-input::-webkit-input-placeholder {
	color: white;
	@include font-stack;
}
#particles-js {
	background: $page-color;
	height:100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.signup {
	margin-left: auto;
	margin-right: auto;
	padding-top: 9rem;
}
#signup-button {
	height: 3rem;
	font-size: 1.1rem;
}
#update-me {
	margin-top: 3rem;
}
#top-headline {
	margin-bottom: 4rem;
}
.get-on-top>* {
	position: relative;
	z-index: 5;
}
#got-it {
	display: none;
}